.bestseller-slider {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;


  @media (min-width: $tablet-width) {
    gap: 14px;
  }

  &__list {
    min-width: 0;
  }

  &__item {
    height: min(92.813vw, 312px);
    width: min(68.75vw, 230px);
  }
}
