.bestseller-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  line-height: $lh-145;
  overflow-wrap: anywhere;
  padding: 0 10px;
  width: 100%;
  min-height: 100%;

  &__img {
    position: absolute;
    top: 0;
    z-index: -1;
    min-height: 100%;
    object-fit: cover;
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-weight: $fw-medium;
  }

  &__subtitle {
    text-transform: lowercase;
    font-size: $fs-xs;
    color: $color-secondary;
    margin-bottom: 5px;
  }

  &__link {
    font-size: $fs-xs;
    margin-bottom: 14px;
    border-bottom: 1px solid $color-accent;
    border-radius: $outline-radius;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    @media (min-width: $mobile-width) {
      margin-bottom: 20px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &:focus-visible {
      outline: $outline;
      outline-offset: $outline-offset;
    }
  }
}
