.button-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: $outline-radius;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: $outline;
  }

  .icon {
    margin: 0 auto;
  }

  &--login {
    .icon {
      width: min(4.063vw, 16px);
      height: min(5vw, 21px);
    }
  }

  &--cart {
    .icon {
      width: min(4.375vw, 18px);
      height: min(5vw, 21px);
    }
  }

  &--arrow {
    .icon {
      width: 26px;
      height: 12px;
    }
  }

  &--burger-open {
    .icon {
      width: min(6.875vw, 24px);
      height: 14px;
    }
  }

  &--close-button {
    .icon {
      width: min(4.375vw, 18px);
      height: min(4.375vw, 18px);
    }
  }
}
