.navigation-products-list {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &--bestseller-slider {
    .navigation-products-list__buttons {
      display: none;

      @media (min-width: $tablet-width) {
        display: flex;
        margin-right: $tablet-padding-sides;
      }

      @media (min-width: $desktop-width) {
        margin-right: $desktop-padding-sides;
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: min(2.5vw, 10px);
    font-weight: $fw-medium;
    font-size: min(4.375vw, $fs-l);

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      display: block;
      width: min(9.375vw, 50px);
      height: 1px;
      background-color: $color-accent;
      order: 2;
    }
  }

  &__pagination-current,
  .swiper-pagination-current {
    order: 1;
  }

  &__pagination-total,
  .swiper-pagination-total {
    order: 3;
    color: $color-secondary;
  }

  &__buttons {
    display: flex;
    gap: 28px;
    // margin: 2px;
  }

  &__button {
    transition: opacity .3ms;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &--prev {
      transform: rotate(180deg);
    }

    &--next {}
  }
}
