.promo-type {
  display: block;
  width: clamp(130px, 32.031vw, 330px);
  border-radius: $outline-radius;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;
  }

  &__title {
    font-size: min(3.75vw, $fs-m);
    font-weight: $fw-medium;
    line-height: $lh-140;
    overflow-wrap: break-word;
  }

  .icon {
    flex-shrink: 0;
    width: min(7.188vw, 26px);
    height: min(3.125vw, 12px);
  }

  &::before {
    content: "";
    display: block;
    height: clamp(170px, 41.927vw, 422px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  &--body-care::before {
    background-image: url("../img/promo/body-care.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/body-care@2x.jpg");
    }
  }

  &--facial-care::before {
    background-image: url("../img/promo/facial-care.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo/facial-care@2x.jpg");
    }
  }

  &:hover {
    &::before {
      background-size: 110%;
    }

    .promo-type__content {
      opacity: 0.8;
    }
  }

  &:active {
    &::before {
      background-size: 125%;
    }

    .promo-type__content {
      opacity: 0.6;
    }
  }

  &:focus-visible {
    outline: $outline;
    outline-offset: $outline-offset;
  }
}
