.spoilers {
  &__item {}

  &__title {
    position: relative;
    font-size: $fs-l;
    line-height: $lh-140;
    font-weight: $fw-medium;
    padding: 20px 0px;
    padding-right: 20px;
    width: 100%;
    text-align: start;
    cursor: auto;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 20px 0;
  }

  &._init {
    .spoilers__title {
      cursor: pointer;
      border-radius: $outline-radius;
      border-bottom: 1px solid $border-color-header;

      &--without-border {
        border-bottom: none;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0px;
        width: 12px;
        height: 1px;
        background-color: $color-accent;
        transition: transform 0.3s ease 0s;
      }

      &::before {
        transform: rotate(90deg);;
      }

      &._active {
        &::before {
          transform: rotate(0deg);
        }
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }

      &:focus-visible {
        outline: $outline;
        outline-offset: $outline-offset;
      }
    }

    .spoilers__content {
      border-top: 1px solid $border-color-header;
    }
  }

}
