.footer {
  background-color: $bg-color-secondary;

  &__main {
    padding-top: min(15.625vw, 60px);
    padding-bottom: min(15.625vw, 60px);
  }

  &__main-wrapper {
  }

  &__navigation {}

  &__copyright {
    border-top: 1px solid $border-color-copyright;
    padding-top: min(6.25vw, 25px);
    padding-bottom: min(6.25vw, 25px);
    color: $border-color-copyright;
    font-size: $fs-xxs;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &__copyright-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__copyright-text {
    font-size: inherit;
  }

  &__copyright-icon {
    width: 1.166em;
    height: 1.166em;
    display: inline-block;
  }

  &__privacy-policy {
    border-radius: $outline-offset;

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
      text-decoration: underline;
    }

    &:focus-visible {
      outline: $outline;
      outline-offset: $outline-offset;
    }
  }
}
