.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: min(23.75vw, 101px);
  width: 100%;
  z-index: 2;

  &__navigation {
    width: 100%;
  }
}
