.history {
  background-image: url('../img/history/history-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: clamp(346px, 51.172vw, 433px);
  text-align: center;
  margin-bottom: clamp(80px, 15.625vw, 140px);

  @media (min-resolution: 2dppx) {
    background-image: url('../img/history/history-bg@2x.jpg');
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: min(9.375vw, 50px);
    align-items: center;
    padding-top: clamp(60px, 13.021vw, 120px);
    padding-bottom: clamp(60px, 13.021vw, 120px);
  }

  &__quote {
    font-size: min(6.875vw, $fs-xxl);
    line-height: $lh-125;
    font-weight: $fw-medium;
  }
  &__button {
  }
}
