.individual-approach {

  margin-bottom: 272px;

  @media (min-width: $tablet-width) {
    margin-bottom: min(15.625vw, 140px);
    overflow-x: hidden;
  }

  &__wrapper {}

  &__container {
    position: relative;
    padding: clamp(55px, 8vw, 100px) clamp(25px, 7.813vw, 100px) max(110px, 29vw);
    background-color: $bg-color-secondary;

    @media (min-width: $tablet-width) {
      padding-bottom: min(7.943vw, 100px);
      padding-right: 231px;
      width: 678px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 200px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -42%;
      left: 50%;
      transform: translate(-50%);
      width: clamp(250px, 52.823vw, 670px);
      height: clamp(252px, 52.474vw, 451px);
      background-image: url('../img/individual-approach/decorative-image.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url('../img/individual-approach/decorative-image@2x.jpg');
      }

      @media (min-width: $tablet-width) {
        transform: translate(0, 50%);
        bottom: 50%;
        left: clamp(442px, 42.5vw, 502px);
      }
    }
  }

  &__content {
    @media (min-width: $tablet-width) {
      width: 360px;
    }
  }
}
