.products-list {
  padding-bottom: clamp(15px, 3.255vw, 35px);
  margin-bottom: clamp(49px, 10.5vw, 90px);

  &__wrapper {}

  &__container {
  }

  &__list {
    display: grid;
    gap: 30px;
    justify-content: center;
    margin-bottom: min(7.4vw, 40px);

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(auto-fill, min(90.625vw, 324px));
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(auto-fill, 270px);
    }
  }

  &__item {
    flex-shrink: 1;
  }

  &__navigation {}
}
