.promo {
  background-image: url("../img/promo/promo-bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: min(30.225vw, 131px);
  padding-bottom: 67px;
  margin-bottom: clamp(62px, 15.625vw, 140px);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo/promo-bg@2x.jpg");
  }

  &__wrapper {
    position: relative;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 34px;
    max-width: 1030px;

    @media(min-width: $tablet-width) {
      justify-content: space-between;
    }
  }

  &__content {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 47px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
