.recently-viewed {
  margin-bottom: clamp(62px, 14.6vw, 132px);

  &__wrapper {}

  &__title {
    font-family: "Raleway", sans-serif;
    font-size: min(8.75vw, $fs-xxl);
    font-weight: $fw-medium;
    line-height: $lh-125;
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin-bottom: min(12.5vw, 51px);
    }
  }

  &__slider {

    @media(min-width: $tablet-width) {
      margin: 0 auto;
    }

    @media(min-width: $desktop-width) {
      margin-left: -7px;
      margin-top: -7px;
    }

    .swiper-slide {
      padding: 7px 0px 7px 7px;
    }
  }

  &__navigation {}
}
